<!DOCTYPE html>
<html lang="en">
<head>
  <title>Worker Log In</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/worker_login.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
  <body>

    <div class="container" >
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">× Close</span></button>
        {{message}}
        </div>
      {% endfor %}
      {% endif %}
    {% endwith %}

    {% block body %}{% endblock %}
    </div> <!-- /container for Flask flash on unsuccessful login or worker dashboard request -->

    <div class="container">
      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="username" id="inputUsername" class="form-control" placeholder="User" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button onclick="logUserIn()" class="btn btn-lg btn-primary btn-block">Sign in</button>
      </form>
    </div> <!-- /container containing log in UI controls -->

  <script>
  if(history.replaceState) history.replaceState({}, "", "/");

    function logUserIn() {
      var user = $("#inputUsername").val();
      var pass = $("#inputPassword").val();

      httpGetAsync("https://one-route.herokuapp.com/get_worker_details?user=" + user + "&pass=" + pass, theCallback);
    }

    function theCallback(responseText) {
      console.log("Made it to the callback...");
      var responseData = JSON.parse(responseText);
      var worker_sid = responseData["worker_sid"];
      var worker_token = responseData["worker_token"];
      var worker_name = responseData["worker_name"];

      if (worker_sid.length > 0 && worker_token.length > 0) {
        window.location.href = "https://one-route.herokuapp.com/worker_dashboard?worker_sid=" + worker_sid + "&worker_token=" + worker_token + "&worker_name=" + worker_name;
      }
      else {
        //httpGetAsync("https://one-route.herokuapp.com/flash_invalid_login")
        alert("Incorrect username or password! Please try again.");
      }
    }

    function httpGetAsync(theUrl, callback)
    {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function() { 
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                callback(xmlHttp.responseText);
        }
        xmlHttp.open("GET", theUrl, true); // true for asynchronous 
        xmlHttp.send(null);
    }
  </script>
  </body>
</html>
